<section class="sct-color-1 slice">
<div class="container-fluid masonry-container">
<div class="row">
<div class="col-sm-7 col-sm-offset-4">
  <h1>Bookers</h1>
  <p>テーマ： 読んだ本の感想を投稿するサイト</p>

  <p>完成アプリケーションは、以下のurlから見ることができます。</p>
  <p>レイアウトや機能の実装について下記の要件と合わせて参考にしてください。</p>

  <p>完成アプリケーションurl : <%= link_to "https://bookers-level2.herokuapp.com", "https://bookers-level2.herokuapp.com" %></p>
</div>
</div>
</div>
</section>
